/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-publishpress-frontend-render
{

	.no-content{
		.post-title{
			margin-bottom: 1rem;
		}
	}
	details,
	> div
	{
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid gray;

		summary
		{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
	
			&::before
			{
				content: '+';
				font-size: 3rem;
				width: 10%;
				max-width: 2rem;
			}
	
			>div
			{
				width: 90%;
				align-self: center;
				cursor: pointer;
			}
		}

		&[open] summary{
			&::before
			{
				content: '-';
			}
			margin-bottom: 1rem;
		}

		&[open] > *:not(summary){
			padding-left: 1rem;
		}
	}



	.post-tags-cats
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
		gap: 1rem;

		div
		{
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
		}

		.cat, .tag
		{
			border: 1px solid black;
			background-color: var(--wp--preset--color--accent-4);
			padding: 0.3rem 0.7rem;
			color: white;
			border-radius: 25px;
			opacity: 0.7;
			transition: opacity 0.5s;
			font-size: 0.8rem;
			
			&:hover{
				opacity: 1;
				transition: opacity 0.5s;
			}
		}
		.tag{
			border: 1px solid black;
			background-color: var(--wp--preset--color--accent-3);
		}
		.tag-urgent
		{
			border: 1px solid rgb(141, 1, 1);
			background-color: rgb(110, 6, 6);
		}
	}
}